a.navbar-brand {
    white-space: normal;
    text-align: right;
    word-break: break-all;
    display:flex
}

.navbar{
    height:100px;
}


.navbar-inner {
    height: 90px;
    position: sticky;
    top: 0;
}

.navbar-outer {
    display: flex;
    align-items: center;
    position: fixed;
    height: 190px;
    top: -50px;
}

.scroll_navbar .navbar {
    background-color: rgba(59, 5, 68, .5)
}

html {
  font-size: 16px;
}


.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-grow-2 {
    flex-grow: 100;
    white-space: normal;
    text-align: right;
    word-break: break-all;
}

.flex-grow-1 {
    flex-grow: 1;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}



.d {
    background-color: rgba(59, 5, 68, .5)
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}