.intro-section {
    background-image: url("../public/BG.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px 95px;
    min-height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    color: #ffffff;
}

.intro-content-wrapper {
    width: 610px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.form-section {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Lucida Console';
    font-size: 14px;
    background-color: #150704;
}

.InputColor {
    background-color: #ad1fff;
}

    .InputColor:focus {
        background-color: #ad1fff;
    }

.btnSuccess {
    background-color: #4f2d48;
}

.DeffaultBackGround {
    background: #4f2d48;
}

    .DeffaultBackGround .animated {
        opacity: 0;
        animation-name: fadeInUp;
        -webkit-animation-name: fadeInUp;
    }

.modal-backdrop {
    background-color: #393838;
}
.modal-content {
    background: #1e1d23;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}


.border-radius {
    background-color: hsl(0, 0%, 0%, 0.7);
    border-radius: 25px;
    border:0;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-bg {
    width: 100%;
    height: 650px;
    max-width: 100%;
    background-image: url("../public/BG.svg");
}

.pad {
    min-height: 750px;
    padding-top:300px;
    background-position: center;
    background-image: url(../public/BG.svg);
}

.footer{
    padding-top:132px;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.foo.delighter {
    transition: all .3s ease-out;
    transform: translateX(-100%);
    opacity: 0;
}

    .foo.delighter.started {
        transform: none;
        opacity: 1;
    }

        .foo.delighter.started.ended {
            border: solid red 10px;
        }